  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

  * {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
    width: 100%;
  }

  .header-top {
    position: relative;
    display: flex;
    align-items: self-start;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/netflix-background-home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  .header-top div>select,
  button {
    outline: none;
    background-color: transparent;
    color: white;
    padding: 7px 14px;
    font-size: 15px;
  }

  .header-top div>select {
    background-color: rgba(88, 48, 48, 0.767);
  }


  .sign-in,
  .mail-list>button {
    background-color: #e50914;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
  }

  .top-navigation {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    padding: 25px 10px;
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 120px;
    font-family: 'Poppins', sans-serif;
  }

  .top-right-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  button > a{
    text-decoration: none;
    color: white;
  }

  .netflix-logo {
    max-width: 150px;

  }

  div>.text-content>.big-text {
    font-size: 3rem;
    font-weight: bolder;
  }

  .homepage-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10%;
  }

  .homepage-text>h2,
  h3 {
    font-weight: 100;
    font-size: 25px;
    margin-down: 50%;
    padding-top: 15px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
  }

  .mail-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
  }

  .mail-list>input {
    width: 300px;
    height: 20px;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
  }

  .mail-list>button {
    font-family: 'Lato', sans-serif;
    height: 45px;
    width: 160px;
    font-size: 25px;
    text-align: center;
    margin: 10px 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

  @media (max-width: 768px) {
    .netflix-logo {
      width: 100px;
      height: fit-content;
    }

    div>.text-content>.big-text {
      font-size: 2rem;
      font-weight: 700;
    }

    .top-navigation {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .top-right-navigation {
      gap: 10px;
    }

    .header-top div>select {
      font-size: 15px;
    }

    .sign-in,
    .email-class,
    .mail-list>button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      gap: 10px;
      margin: 10px 0px;
      align-items: center;
    }

    .mail-list>button {
      margin: 10px;
    }
  }